<div class="container">
    <div class="row">
      <div class="col">
        <p class="fst-italic">ئەو کالەیەیی کە دەتەوی بزانی لە ج دوکانی کڕیوتە کە ژمارای وەسل و زانیاری او کەسەی کە لێت کڕیوە    </p>
      </div>
    </div>
  </div>
  <!--loadspinners-->
  <div *ngIf="loading">
  <app-spinner></app-spinner>
  </div>
  <!--eerror message-->
  <div>
    <div class="container">
      <div class="row">
        <div class="col">
          <h3 class="h4 text-danger fw-bold">{{errorMessage}}</h3>
        </div>
      </div>
    </div>
  </div>
  <pre>{{id}}</pre>
  <!--card-->
  <div class="container mt-5" *ngIf="!loading && isNotEmpty()" >
    <div class="row">
      <div *ngForm="let product_data of all_product_data" class="col-sm-4 ">
        <img [src]="product_data.uploadPhoto" alt="profile image" class="profile" >
    </div>
    <div class="col-sm-7 ">
      <ul>
        <li> ProductId:<span class="fw-bold"></span>{{product_data.id}}</li>
          <li>Name: <span class="fw-bold"></span>{{product_data.name}}</li>
          <li>zh_wsal: <span class="fw-bold"></span>{{product_data.onum}}</li>
          <li>Price:<span class="fw-bold"></span>{{product_data.mrp}}</li>
          <li>Quanty:<span class="fw-bold"></span>{{product_data.mrp}}</li>
          <li>DesC:<span class="fw-bold">{{product_data.uploadDesc}}</span></li>
          <li>State:<span class="fw-bold"></span>{{product_data.status}}</li>
          <li>GroupShops:<span class="fw-bold">{{group.name}}</span></li>
          <li>Shops_num:<span class="fw-bold">{{group.shop_num}}</span></li>
          
      </ul>
  </div>
  
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <a class="btn btn-danger" routerLink="/">
        <i class="fa fa_arrow_alt_circle_left">back</i>
      </a>
    </div>
  </div>
